<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Gotham:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/Content/estilos/style.css" />
    <link rel="stylesheet" href="~/Content/estilos/swiper-bundle.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <header>
        <img id="logo" src="./images/Logo-FitMatch_h_negativ_2.png" alt="" />
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#info">SOBRE NOSOTROS</a></li>
            <li><a href="#help">CENTRO DE AYUDA</a></li>
            <li><a class="btnStart" href="#start">EMPEZAR AHORA</a></li>
            <li><a class="btnLogin" href="#login">iniciar sesión</a></li>
        </ul>
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <h1>Tu compañero<br />de fitness<br />personalizado</h1>
            <h2>
                Conectando usuarios con entrenadores<br />expertos para alcanzar tus
                metas de<br />salud y bienestar
            </h2>
            <a href="#" class="btn">EMPEZAR AHORA</a>
        </div>

        <div class="home-img">
            <img src="./images/FitMatch_home_image.png" alt="" />
        </div>
    </section>

    <section class="services" id="services">
        <div class="heading">
            <span>Explora Fitmatch</span>
            <h2>Tu Compañero en el Camino hacia una Vida más Saludable</h2>
        </div>

        <div class="service-container">
            <div class="s-box">
                <img src="./images/Seccion2_icon_1.png" alt="" />
                <h3>Entrenadores expertos</h3>
                <p>
                    Nuestros entrenadores son expertos en<br />
                    entender y alcanzar tus metas fitness.
                </p>
            </div>

            <div class="s-box">
                <img src="./images/Seccion2_icon_2.png" alt="" />
                <h3>Apoyo de la comunidad</h3>
                <p>
                    Únete a una comunidad de apoyo y<br />
                    motivación en Fitmatch.
                </p>
            </div>

            <div class="s-box">
                <img src="./images/Seccion2_icon_3.png" alt="" />
                <h3>Muévete a tu manera</h3>
                <p>
                    Fitness personalizado que se adapta<br />
                    a tu estilo de vida en Fitmatch
                </p>
            </div>
        </div>
    </section>

    <!--seccion3-->

    <section class="logins">
        <h2>Comienza tu Aventura Fitness</h2>

        <div id="left">
            <img src="./images/Seccion-3-image_1 (1).png" />
            <div class="contenedor-texto">
                <h3>¿Listo para llevar tu<br />fitness al siguiente nivel?</h3>
                <a href="#" class="btn-section-login">INGRESA COMO USUARIO</a>
            </div>
        </div>
        <div id="right">
            <img src="./images/Seccion-3-image_2 (1).png" alt="" />
            <div class="contenedor-texto">
                <h3>¿Eres un entrenador listo<br />para marcar la diferencia?</h3>
                <a href="#" class="btn-section-login">INGRESA COMO COACH</a>
            </div>
        </div>
    </section>

    <!--seccion4 cards-->

    <section id="cards">
        <img class="background" src="./images/Seccion_4_bg.jpg" alt="" />
        <div class="cards">
            <h2 class="header">Membresias</h2>
            <span class="spanheader">
                Elige la que mejor se adapte a tus objetivos y comienza tu viaje
                fitness ahora
            </span>
            <div class="services">
                <div class="content">
                    <div class="title">
                        <h2>Básica</h2>
                        <span>$50.000</span><span class="span2">/mes</span>
                    </div>
                    <div class="text">
                        <ul>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la plataforma
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la comunidad
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la comunidad
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_no.png" />Entrenador
                                    personal
                                </p>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn">EMPEZAR AHORA</a>
                </div>
                <div class="content">
                    <div class="title">
                        <h2>Profesional</h2>
                        <span>$200.000</span><span class="span2">/mes</span>
                    </div>
                    <div class="text">
                        <ul>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la plataforma
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la comunidad
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Acceso a
                                    la comunidad
                                </p>
                            </li>
                            <li>
                                <p>
                                    <img src="./images/Seccion_4_check_icon_si.png" />Entrenador
                                    personal
                                </p>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn">EMPEZAR AHORA</a>
                </div>
            </div>
        </div>
    </section>

    <!--Section5 Testimonios-->

    <section id="testimonios">
        <div class="wrapper">
            <div class="cards-container">
                <h2 class="title">Testimonios</h2>
                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor, sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor, sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="card-content">
                                    <h2 class="name">María López</h2>
                                    <span>
                                        <img src="./images/testimonios_estrellas.png" alt="" />
                                    </span>
                                    <p class="description">
                                        The lorem text the section that contains header with
                                        having open functionality. Lorem dolor sit amet
                                        consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <img class="swiper-button-next swiper-navBtn flechaDerecha"
                         src="/images/Testimonio_flecha-izq.png"
                         alt="Next"
                         style="width: 32px; height: auto; border-radius: 100%" />

                    <img class="swiper-button-prev swiper-navBtn flechaIzquierda"
                         src="/images/Testimonio_flecha-izq.png"
                         Previous
                         style="width: 32px;
            height: auto; border-radius: 100%">
                </div>
            </div>
            <div class="seccion-registrarse">
                <div class="registrate-container">
                    <div class="left">
                        <h2>¡Registrate ahora!</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
                            Consequuntur tempora architecto error autem ullam quidem,<br />
                            sed voluptatibus, optio assumenda sapiente ea illum
                            recusandae<br />
                            adipisci laudantium ex voluptatem laborum! Laborum, sapiente.
                        </p>
                        <a href="#" class="btn-section-testimonios">EMPEZAR AHORA</a>
                    </div>
                    <div class="right">
                        <img src="./images/Foto_testimonios.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer>
        <div class="seccion1">
            <img class="logo" src="./images/Logo-FitMatch_h_negativ_2.png" alt="" />
            <div class="social">
                <ul class="icons">
                    <li>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="linea" />
        <div class="seccion2">
            <p>2024 FitMatch</p>
        </div>
    </footer>

    <!-- Swiper JS -->
    <script src="~/Scripts/javascript/swiper-bundle.min.js"></script>
    <!-- JavaScript -->
    <script src="~/Scripts/javascript/script.js"></script>
</body>
</html>
